<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Gulp.JS V3 - HTML Slicing</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
  <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css">
</head>

<body>
  <header class="w-full absolute z-20">
    <nav class="bg-transparent">
      <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
        <div class="relative flex items-center justify-between h-16">
          <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
            <button
              class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
              aria-expanded="false">
              <span class="sr-only">Open main menu</span>
              <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
              </svg>
              <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          </div>
          <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
            <div class="flex-shrink-0 flex items-center">
              <span class="text-white text-3xl font-bold">LOGO</span>
            </div>
            <div class="hidden sm:block sm:ml-auto">
              <div class="flex space-x-4">

                <a href="#" class="text-yellow-400 px-3 py-2 text-sm font-medium uppercase">Home</a>
                <a href="#" class="text-gray-300 hover:text-yellow-100 px-3 py-2 rounded-md text-sm font-medium uppercase">About
                  Us</a>
                <a href="#" class="text-gray-300 hover:text-yellow-100 px-3 py-2 rounded-md text-sm font-medium uppercase">News</a>
                <a href="#" class="text-gray-300 hover:text-yellow-100 px-3 py-2 rounded-md text-sm font-medium uppercase">Contact
                  Us</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </nav>
  </header>
  <main>
    <div class="container-full position-relative">
      <!-- Slider main container -->
      <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->

          <div class="swiper-slide">
            <figure class="flex w-full h-screen relative flex justify-center content-center">
              <div class="swiper-slide__bg w-full bg-black bg-opacity-80">
                <img src="https://picsum.photos/id/1/2000/900" alt="Image Web Developer"
                  class="w-full h-full block object-cover object-center">
              </div>
              <figcaption class="swiper-slide__content absolute top-1/2 w-full md:w-1/2">
                <h1 class="uppercase text-6xl text-white font-bold mb-6 wow animate__slideInUp">Development</h1>
                <h2 class="text-2xl text-white font-light mb-10 wow animate__slideInUp">We are web developer</h2>
                <div class="flex flex-nowrap justify-center">
                  <a href="#"
                    class="wow animate__slideInUp border-2 border-white text-white mx-2 px-6 py-2 hover:bg-white hover:text-black hover:border-white">Read
                    More</a>
                  <a href="#"
                    class="wow animate__slideInUp border-2 border-white bg-white mx-2 text-black px-6 py-2 hover:bg-transparent hover:text-white">Learn
                    More</a>
                </div>
              </figcaption>
            </figure>
          </div>
          <!-- Slides -->
          <div class="swiper-slide">
            <figure class="flex w-full h-screen relative flex justify-center content-center">
              <div class="swiper-slide__bg w-full bg-black bg-opacity-80">
                <img src="https://picsum.photos/id/1/2000/900" alt="Image Web Developer"
                  class="w-full h-full block object-cover object-center">
              </div>
              <figcaption class="swiper-slide__content absolute top-1/2 w-full md:w-1/2">
                <h1 class="uppercase text-6xl text-white font-bold mb-6">Development</h1>
                <h2 class="text-2xl text-white font-light mb-10">We are web developer</h2>
                <div class="flex flex-nowrap justify-center">
                  <a href="#"
                    class="border-2 border-white text-white mx-2 px-6 py-2 hover:bg-white hover:text-black hover:border-white">Read
                    More</a>
                  <a href="#"
                    class="border-2 border-white bg-white mx-2 text-black px-6 py-2 hover:bg-transparent hover:text-white">Learn
                    More</a>
                </div>
              </figcaption>
            </figure>
          </div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination justify-center mx-auto w-full md:w-1/2"></div>

      </div>
    </div>
    <!-- Content -->
    <section class="container mx-auto px-10 lg:px-40 py-10 lg:py-20 bg-white">
      <h2 class="uppercase text-black tracking-wider text-2xl font-bold text-center mb-16 wow animate__slideInUp">
        Service</h2>
      <div class="flex flex-wrap">
        <!-- Item -->
        <div class="item w-full lg:w-1/3 text-center px-4 mb-10">
          <div class="icon text-6xl text-gray-900 mb-6 font-light wow animate__slideInUp"><i class="fas fa-chalkboard"></i></div>
          <h3 class="uppercase text-gray-900 mb-4 wow animate__slideInUp">Web Design</h3>
          <div class="content">
            <p class="text-gray-500 wow animate__slideInUp">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae a doloremque ratione minus et placeat optio
              libero dolor, ipsum ipsa.
            </p>
          </div>
        </div>
        <!-- Item -->
        <div class="item w-full lg:w-1/3 text-center px-4 mb-12">
          <div class="icon text-6xl text-gray-900 mb-6 font-light wow animate__slideInUp"><i class="fas fa-database"></i></div>
          <h3 class="uppercase text-gray-900 mb-4 wow animate__slideInUp">Development</h3>
          <div class="content">
            <p class="text-gray-500 wow animate__slideInUp">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae a doloremque ratione minus et placeat
              optio
              libero dolor, ipsum ipsa.
            </p>
          </div>
        </div>
        <!-- Item -->
        <div class="item w-full lg:w-1/3 text-center px-4 mb-12">
          <div class="icon text-6xl text-gray-900 mb-6 font-light wow animate__slideInUp"><i class="fas fa-code"></i>
          </div>
          <h3 class="uppercase text-gray-900 mb-4 wow animate__slideInUp">Branding</h3>
          <div class="content">
            <p class="text-gray-500 wow animate__slideInUp">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae a doloremque ratione minus et placeat
              optio
              libero dolor, ipsum ipsa.
            </p>
          </div>
        </div>

        <!-- Item -->
        <div class="item w-full lg:w-1/3 text-center px-4 mb-12">
          <div class="icon text-6xl text-gray-900 mb-6 font-light text-6xl wow animate__slideInUp"><i
              class="fas fa-camera-retro"></i></div>
          <h3 class="uppercase text-gray-900 mb-4 wow animate__slideInUp">Photography</h3>
          <div class="content">
            <p class="text-gray-500 wow animate__slideInUp">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae a doloremque ratione minus et placeat
              optio
              libero dolor, ipsum ipsa.
            </p>
          </div>
        </div>
        <!-- Item -->
        <div class="item w-full lg:w-1/3 text-center px-4 mb-12">
          <div class="icon text-6xl text-gray-900 mb-6 font-light wow animate__slideInUp"><i class="fas fa-font"></i>
          </div>
          <h3 class="uppercase text-gray-900 mb-4 wow animate__slideInUp">Typhography</h3>
          <div class="content">
            <p class="text-gray-500 wow animate__slideInUp">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae a doloremque ratione minus et placeat
              optio
              libero dolor, ipsum ipsa.
            </p>
          </div>
        </div>
        <!-- Item -->
        <div class="item w-full lg:w-1/3 text-center px-4 mb-12">
          <div class="icon text-6xl text-gray-900 mb-6 font-light wow animate__slideInUp"><i class="far fa-object-group"></i>
          </div>
          <h3 class="uppercase text-gray-900 mb-4 wow animate__slideInUp">UI Design</h3>
          <div class="content">
            <p class="text-gray-500 wow animate__slideInUp">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae a doloremque ratione minus et placeat
              optio
              libero dolor, ipsum ipsa.
            </p>
          </div>
        </div>


      </div>
    </section>
    <section id="countdown" class="countdown h-full lg:h-64 relative">
      <div class="container  mx-auto px-10 lg:px-40 py-10 lg:py-20">
        <div class="flex flex-wrap relative z-10">

          <!-- Item -->
          <div class="item w-full lg:w-1/4 text-center px-4 mb-10 md:mb-6 lg:mb-0">
            <h3 class="text-5xl text-white font-bold mb-1 wow animate__slideInUp time-1" data-done="1054">1054
            </h3>
            <p class="uppercase text-white text-sm wow animate__slideInUp">Client</p>
          </div>
          <!-- Item -->
          <div class="item w-full lg:w-1/4 text-center px-4 mb-10 md:mb-6 lg:mb-0">
            <h3 class="text-5xl text-white font-bold mb-1 wow animate__slideInUp" id="time-2">154</h3>
            <p class="uppercase text-white text-sm wow animate__slideInUp">Project</p>
          </div>
          <!-- Item -->
          <div class="item w-full lg:w-1/4 text-center px-4 mb-10 md:mb-6 lg:mb-0">
            <h3 class="text-5xl text-white font-bold mb-1 wow animate__slideInUp" id="time-3">59</h3>
            <p class="uppercase text-white text-sm wow animate__slideInUp">Awards</p>
          </div>
          <!-- Item -->
          <div class="item w-full lg:w-1/4 text-center px-4 mb-0 md:mb-0 lg:mb-0">
            <h3 class="text-5xl text-white font-bold mb-1 wow animate__slideInUp" id="time-4">34</h3>
            <p class="uppercase text-white text-sm wow animate__slideInUp">Teams</p>
          </div>
        </div>
      </div>
    </section>

    <section class="w-full relative pt-10 lg:pt-20 bg-white">
      <h2 class="uppercase text-black tracking-wider text-2xl font-bold text-center  mb-8 wow animate__slideInUp">
        Great Work</h2>

      <div class="flex flex-wrap justify-center content-center mb-10 wow animate__slideInUp">

        <div class="button-group filters-button-group">
          <button class="button px-1 md:px-2 lg:px-4 uppercase text-base is-checked" data-filter="*">All</button>
          <button class="button px-1 md:px-2 lg:px-4 uppercase text-base" data-filter=".branding">Branding</button>
          <button class="button px-1 md:px-2 lg:px-4 uppercase text-base" data-filter=".design">Design</button>
          <button class="button px-1 md:px-2 lg:px-4 uppercase text-base" data-filter=".uiux">UI / UX</button>
          <button class="button px-1 md:px-2 lg:px-4 uppercase text-base" data-filter=".photography">Photography</button>
        </div>
      </div>

      <div class="gridMasonry w-full h-full relative block">
        <div class="grid-sizer"></div>
        <div class="grid-item element-item branding" data-category="branding">
          <a href="#" class="hover:opacity-80 block">
            <img src="https://picsum.photos/id/180/1000/1000" class="block w-full h-80 object-cover object-top" />
          </a>
        </div>
        <div class="grid-item element-item design" data-category="design">
          <a href="#" class="hover:opacity-80 block">
            <img src="https://picsum.photos/id/2/1000/1000" class="block w-full h-80 object-cover object-top" />
          </a>
        </div>
        <div class="grid-item element-item uiux" data-category="uiux">
          <a href="#" class="hover:opacity-80 block">
            <img src="https://picsum.photos/id/12/1000/1000" class="block w-full h-80 object-cover object-top" />
          </a>
        </div>
        <div class="grid-item element-item photography" data-category="photography">
          <a href="#" class="hover:opacity-80 block">

            <img src="https://picsum.photos/id/56/1000/1000" class="block w-full h-80 object-cover object-top" />
          </a>
        </div>
        <div class="grid-item element-item photography" data-category="photography">
          <a href="#" class="hover:opacity-80 block">

            <img src="https://picsum.photos/id/112/1000/1000" class="block w-full h-80 object-cover object-top" />
          </a>
        </div>
        <div class="grid-item element-item uiux" data-category="uiux">
          <a href="#" class="hover:opacity-80 block">

            <img src="https://picsum.photos/id/98/1000/1000" class="block w-full h-80 object-cover object-top" />
          </a>
        </div>
        <div class="grid-item element-item design" data-category="design">
          <a href="#" class="hover:opacity-80 block">

            <img src="https://picsum.photos/id/42/1000/1000" class="block w-full h-80 object-cover object-top" />
          </a>
        </div>
        <div class="grid-item element-item branding" data-category="branding">
          <a href="#" class="hover:opacity-80 block">

            <img src="https://picsum.photos/id/222/1000/1000" class="block w-full h-80 object-cover object-top" />
          </a>
        </div>
      </div>
    </section>

  </main>
  <footer class="bg-white">
    <div class="container mx-auto px-10 lg:px-40 py-6 lg:py-10">
      <p class="mb-0 text-gray-500 text-center wow animate__slideInRight"><span class="text-black font-bold">&copy;
          IC-WEB</span>. All Right
        Reserved.</p>
    </div>
  </footer>
  <!-- <script src="js/index.js"></script> -->
</body>

</html>